<h1 id="rocky-linux-security-cve-and-backport-strategy">Rocky Linux Security, CVE, and Backport Strategy</h1>
<p><em>Date:  2023-03-15</em></p>
<p>(<em>Duplicate alert:</em>  This article was also published for the company I work for, CIQ:  <a href="https://ciq.co/blog/rocky-linux-security-and-CVE-tools/">https://ciq.co/blog/rocky-linux-security-and-CVE-tools/</a> .  I thought I&#39;d put it here as well because I&#39;ve been really lazy, to put it bluntly, about publishing new things!)</p>
<p><br /></p>
<p>We get many requests, both at CIQ and in the community at large, about Rocky Linux security practices. Especially when it comes to particular vulnerabilities (CVEs) on a particular installed system or set of systems. This page will serve as a kind of guide, with many links and resources to help answer those questions.</p>

<br /> 

<h2 id="rhel-rocky-linux-release-scheduling">RHEL / Rocky Linux Release Scheduling</h2>
<p>The Rocky Linux goal is to compile and match RHEL, version-for-version, for every package and release in the distro (3000+ packages). The Rocky release schedule is therefore the same as RHEL. Rocky releases are identified by a <strong>major version</strong> number, and a <strong>minor version</strong> number. For example, in “8.7”, the major version is 8, and minor is 7.  </p>
<p>Major versions are supported with updates for <strong>10 years</strong> , minor versions are supported for <strong>6 months</strong>. Every 6 months a new minor version is released. For example, Rocky 8.7 was released in November 2022, so Rocky 8.8 will be released in May of 2023. Rocky 8.9 will be released in November of 2023, etc. A new major version is released <strong>every 3 years.</strong> Rocky 9 was released in 2022 (and will receive updates until 2032). Rocky 10 will be released in 2025, and receive updates until 2035.  </p>
<p>RHEL/Rocky generally receives at least a few package updates every week during the course of a minor version. These are almost always very small - little patches to fix bugs, and especially security issues. New features or newer versions of software packages are released with a new minor version. For example, Rocky 9.0 had PHP 8.0.13, with minor security patches during the 9.0 lifecycle (8.0.13-1, 8.0.13-2, etc.). Rocky 9.1 introduced PHP 8.0.<strong>27</strong> . a more significant upgrade with newer features. Future minor releases may bump PHP to 8.1 or 8.2.  </p>
<p>Here are some important factoids about the way major/minor releases work:</p>
<ul>
<li><p>Once the public project releases a new minor version, the previous minor version is put into the “vault”, and <strong>will not receive updates anymore</strong>. When Rocky 8.8 is released, 8.7 is frozen in the vault and never updated again. Exception exists for CIQ’s “Long Term Support” offering - will be discussed below</p>
</li>
<li><p>By default, users will automatically get each new minor release by simply running <code>dnf update</code> . No other action is required - minor release upgrades are seamless from their perspective.</p>
</li>
<li><p>Upgrades between major versions (7 → 8, 8 → 9) <strong>are not supported</strong> . The recommended path is to set up configuration management and/or automated scripts, create a new machine, and redeploy software on the newer major version. (This may be subject to change as CentOS/RHEL 7 nears end of life in 2024)</p>
</li>
</ul>
<p><strong>Excellent guide (with pictures) for understanding the RHEL release cycle:</strong> <a href="https://access.redhat.com/support/policy/updates/errata">https://access.redhat.com/support/policy/updates/errata</a></p>
<h2 id="-"> </h2>

<br />

<p>
<h2 id="backporting-and-updates">Backporting and Upates!<br>or: There’s more to life than raw version numbers!</h2></p>
<h3 id="practical-example">Practical Example</h3>
<p>Here’s a kind of ticket comes in often at CIQ support, as well as the Rocky public project:</p>
<pre><code>We ran a security scan <span class="hljs-keyword">on</span> our Rocky systems <span class="hljs-keyword">with</span> &lt;SECURITY_PRODUCT&gt;.  Rocky <span class="hljs-number">8</span> has an 
important unpatched OpenSSL vulnerability: CVE<span class="hljs-number">-2022</span><span class="hljs-number">-0778</span>  Rocky <span class="hljs-number">8</span> <span class="hljs-keyword">is</span> <span class="hljs-built_in">running</span> <span class="hljs-keyword">the</span> old
<span class="hljs-keyword">and</span> unsupported OpenSSL <span class="hljs-number">1.1</span><span class="hljs-number">.1</span>k!

Please <span class="hljs-keyword">tell</span> us how <span class="hljs-keyword">to</span> upgrade our Rocky <span class="hljs-number">8</span> <span class="hljs-keyword">to</span> <span class="hljs-built_in">version</span> <span class="hljs-number">1.1</span><span class="hljs-number">.1</span>t, <span class="hljs-keyword">or</span> <span class="hljs-number">3.0</span><span class="hljs-number">.2</span>.  These 
are <span class="hljs-keyword">the</span> latest <span class="hljs-keyword">from</span> openssl.org, <span class="hljs-keyword">and</span> have <span class="hljs-keyword">the</span> security fixes we need!

This <span class="hljs-keyword">is</span> urgent!

-Concerned User
</code></pre>

<p>This ticket (and the customer’s SECURITY_PRODUCT) pre-supposes some things that are false. It’s true that the current OpenSSL in Rocky 8 is version 1.1.1k, and that version is now a few years old as of this writing. What needs explaining is the concept of security <strong>backports</strong>.</p>
<p>To maintain software stability, RHEL (and therefore Rocky) take selected “small fixes” from newer versions of software and bring them back (called a “backport”) to the version in the distro. The modified version contains the fix, but the user is not forced into a major upgrade in order to get it. This concept is <strong>super important</strong>, and is a big reason behind the appeal of RHEL/Rocky in the enterprise. Many packages are compiled against and depend on the OpenSSL library - if Rocky 8 was kept on the bleeding edge of OpenSSL versions (1.1.1t, or the even newer 3.0.2 series), other software would break! The OpenSSL project modifies their API when new versions are released. Rocky Linux packages that rely on the old version (like Apache, SSH, curl, and Python, to name a few) would also need to be rebuilt, or they would break. This backporting strategy allows “little fixes” to be released without breaking workflow or software compatibility, while keeping the software secure and bug-free<br><strong>Excellent read about RHEL backport policy:</strong> <a href="https://access.redhat.com/security/updates/backporting"><strong>https://access.redhat.com/security/updates/backporting</strong></a> .</p>

<br />

<h3 id="investigating-this-issue">Investigating this Issue</h3>
<p>To investigate this example security issue (OpenSSL + CVE-2022-0778), we have several resources readily available:</p>

<h4 id="errata-update-sites-">Errata/Update Sites:</h4>
<ul>
<li><p><a href="https://errata.rockylinux.org/"><strong>https://errata.rockylinux.org/</strong></a> : This is the Rocky Linux security and update errata site. I can search for “openssl” or “CVE-2022-0778” to try and find out if this security issue has been addressed. Filter functionality is also available to locate the proper update errata. I can browse until I find the proper openssl security update. Here it is on the errata site: <a href="https://errata.rockylinux.org/RLSA-2022:1065">https://errata.rockylinux.org/RLSA-2022:1065</a> . This is the fix! Looking at “Affected Packages”, it appears this was fixed in openssl-1.1.1k-<strong>6</strong>. The -6 indicates minor patches/backports that have been done, modifying it from the original openssl-1.1.1k. I also see this issue was fixed in <strong>March 2022</strong>, shortly after this vulnerability was discovered. (<em>note: The Rocky errata search feature is non-functional, but being fixed as of this writing. Filter options work as normal</em>)  </p>
</li>
<li><p><a href="https://access.redhat.com/errata"><strong>https://access.redhat.com/errata</strong></a> : If I filter and search the RHEL errata, I can also confirm that the fix was issued in RHEL: <a href="https://access.redhat.com/errata/RHSA-2022:1065">https://access.redhat.com/errata/RHSA-2022:1065</a> . That page has a link to the CVE in question as well here: <a href="https://access.redhat.com/security/cve/CVE-2022-0778">https://access.redhat.com/security/cve/CVE-2022-0778</a> . Note that Rocky uses the same numeric indicators for security issues as RHEL (“RHSA” vs. “RLSA”). Rocky security data is derived from RHEL’s, as Rocky is a downstream clone. We see that the RHEL update came in March 2022, and Rocky faithfully followed suit.</p>
</li>
</ul>
<h4 id="-"><p>RPM/DNF on the Rocky System Itself:</p></h4>
<ul>
<li><p><strong>On user’s system with RPM:</strong> <code>rpm -q openssl --changelog | less</code> . This command will get me the changelog of the currently installed openssl on my Rocky system. I can search through this changelog text, CVE references are almost always included with their corresponding version listing.</p>
<p>If I want to check the changelog of a package in the repository but not installed, I can also do that: <code>dnf repoquery -q --changelog openssl | less</code> . This might be slightly different than my installed version, if a newer version is available in the Rocky Repos.  </p>
</li>
<li><p><strong>DNF Auto-update to fix a particular CVE:</strong> <code>dnf update --cve CVE-2022-0778</code> . If my installed openssl is vulnerable, this command will update to the fixed one. If it’s not vulnerable, the command does nothing. I can also check on an update before I install it with <code>dnf updateinfo info --cve CVE-2022-0778</code> .</p>
<p>Going one step further, I can browse through <strong>updateinfo</strong> for ALL potential updates simply with: <code>dnf updateinfo</code> (summary), or details: <code>dnf updateinfo info | less</code> . Or I can filter so I just see packages with security implications: <code>dnf updateinfo info --security | less</code> . CVEs are easily searchable within this text.</p>
</li>
</ul>
<h4 id="-"><p>Rocky Linux Source Code and Build Systems:</p></h4>
<ul>
<li><p><a href="https://koji.rockylinux.org"><strong>https://koji.rockylinux.org</strong></a> : This is the build system for Rocky 8. If I search “openssl” in the top right (Packages search), I see that it shows <strong>openssl-1.1.1k-6</strong> was built on <strong>2022-03-28</strong>. Clicking on that version, I can check the RPM changelog at the very bottom, and sure enough, the top entry has our security issue in it:</p>
<pre><code>* Wed Mar 23 2022 Clemens Lang &lt;cllang@redhat.com&gt; - 1:1.1.1k-6
-<span class="ruby"> Fixes CVE-<span class="hljs-number">2022</span>-<span class="hljs-number">077</span>8 <span class="hljs-symbol">openssl:</span> Infinite loop <span class="hljs-keyword">in</span> BN_mod_sqrt() reachable <span class="hljs-keyword">when</span> parsing certificates
</span>-<span class="ruby"> <span class="hljs-symbol">Resolves:</span> rhbz<span class="hljs-comment">#2067144</span></span>
</code></pre><p>I’m also able to view the compilation logs and download the RPM artifacts for this (or any other) package version. Here is the openssl-1.1.1k-6 link: <a href="https://koji.rockylinux.org/koji/buildinfo?buildID=14039">https://koji.rockylinux.org/koji/buildinfo?buildID=14039</a>  </p>
</li>
<li><p><a href="https://peridot.build.resf.org/"><strong>https://peridot.build.resf.org/</strong></a> : This is the build system for Rocky 9. Its interface is wildly different from Koji, but you can still browse builds (and code imports) that the project has done. Logs and package versions can be investigated via the web interface.  </p>
</li>
<li><p><a href="https://git.rockylinux.org/"><strong>https://git.rockylinux.org/</strong></a> : This is where all Rocky package source code is kept. OpenSSL in particular is in <a href="https://git.rockylinux.org/staging/rpms/openssl"><strong>https://git.rockylinux.org/staging/rpms/openssl</strong></a> . 
<br />In the “r8” branch (for Rocky 8), we can click “Commits”, and find a list of versions imported. Clicking on our desired fixed version <span class="hljs-keyword">commit</span>, (<strong>openssl<span class="hljs-number">-1.1</span><span class="hljs-number">.1</span>k<span class="hljs-number">-6</span></strong>, remember?) we can see the exact backported code that fixed this CVE-2022-0778 issue: <a href="https://git.rockylinux.org/staging/rpms/openssl/-/commit/cb48d82142792160a7fe9f1fdfdd8a0b72e0477f">https://git.rockylinux.org/staging/rpms/openssl/-/commit/cb48d82142792160a7fe9f1fdfdd8a0b72e0477f</a> . This is useful for traceability: this (public) link shows <i>exactly</i> what code was used to fix the problem. And users can verify the fixed update made it onto their system.
</li>
</ul>

<ul>
<li><a href="https://incoming.releng.rockylinux.org/"><strong>https://incoming.releng.rockylinux.org/</strong></a> <strong>:</strong> This Rocky “Incoming!” page tracks all RHEL package updates for the previous 45 days. It indicates whether the RHEL update has been imported and published by Rocky Linux yet. Useful to get a feeling of what packages have seen updates recently, and their versions.  </li>
</ul>

<br />

<p><strong>This information is all public and freely available!</strong> We strongly encourage their use when researching Rocky Linux issues, security or otherwise. These links and the relevant changelogs should make it clear exactly what is in Rocky Linux, where it comes from, and how it’s been modified from the original upstream source.</p>

<br />

<h2 id="ciq-and-long-term-support-lts-">CIQ and Long Term Support (LTS)</h2>
<p>CIQ offers an additional paid service for customers: Rocky Linux LTS backports. This is designed for organizations who want to remain on a previous minor release of Rocky Linux (like 8.6), which is no longer supported by the public project. CIQ staff continue backporting security and bugfixes into the supported minor releases for a period of time.</p>
<p>Subscribed customers who value stability can remain on their desired release longer, while still enjoying minor security and bugfix updates to their packages. As of this writing, CIQ is supporting non-zero, even-numbered point releases (8.6, 8.8, 9.2, 9.4, etc.) with LTS offerings. LTS support lasts for 18 months after the release is retired from the public project. For example, Rocky 8.6 was retired in November 2022. CIQ’s LTS-8.6 support will last 18 months from that, or May 2024.</p>

