<h1 id="ciq-and-rocky-linux">CIQ and Rocky Linux</h1>
<h3 id="ciq-rockylinux-a-guide-to-avoid-confusion">CIQ != RockyLinux , a guide to avoid confusion</h3>
<p>This is a first for me, a non-technical blog entry!  I see a lot of misconception out there about Rocky Linux and its sponsors, particularly Ctrl IQ, inc. (&quot;CIQ&quot;).  I feel qualified to write some things up here, as I&#39;m a member of both organizations. (but see disclaimer below!)  Hoping I can give an informed perspective on how all of this works.</p>
<p><br /></p>
<h2 id="disclaimers">Disclaimers</h2>
<p>I joined Rocky Linux as a volunteer, right when the project was founded in December 2020 (Release Engineering squad).  It&#39;s a great project, and I&#39;m proud to be a volunteer even today.  One pandemic later, in 2022, I was looking to change jobs.  I was hired on by CIQ in mid-2022 as an engineer, in addition to continuing volunteer efforts with Rocky Linux.</p>
<p>I&#39;m currently employed full-time at CIQ, and it&#39;s how I make my livelihood.  I believe this gives me great insight into these 2 orgs.  But I acknowledge that like everyone, I have bias.  Please keep that in mind when reading this article.  Or reading anything else for that matter!</p>
<p>As per usual, anything I write here is from my perspective alone.  I can only speak for myself and not for the Rocky Linux project, Rocky Enterprise Software Foundation (RESF), CIQ inc., or any other organization.</p>
<p><br /></p>
<h2 id="executive-summary-tldr-">Executive Summary (TLDR)</h2>
<p>If you&#39;re pressed for time, here are the main points I&#39;m trying to drive home with this post:</p>
<ul>
<li>Rocky Linux (a free Linux distro) and CIQ inc. (a small-ish for-profit company) are NOT the same thing.  Too many people erroneously conflate the 2.</li>
<li>CIQ <em>is</em> an enthusiastic supporter of Rocky Linux, as it provides great value to the company. (and many other companies + individuals, of course)</li>
<li>CIQ supports Rocky directly by contributing some of its employees time.  Other sponsors provide support for the project as well, both directly and indirectly.</li>
<li>CIQ provides services, custom images, HPC support, and other cool things based on Rocky Linux.  And anyone else can too!  That&#39;s the beauty of a solid, common, and Free platform: anyone can use it in any way they please!</li>
<li>The RESF (Rocky Enterprise Software Foundation) charter and by-laws prevent any single organization from gaining majority membership on the project&#39;s board of directors.  This restriction applies to all companies, including CIQ.</li>
</ul>
<p><br /></p>
<h2 id="quick-introduction">Quick Introduction</h2>
<p>Before we begin, it&#39;s important to define what we&#39;re talking about:</p>
<ul>
<li><p><strong>Rocky Linux</strong>
<br />
Rocky Linux, in case you didn&#39;t know, is an open source project intended to be a rebuild (&quot;clone&quot;) of Red Hat Enterprise Linux.  Legally this project is housed under the Rocky Enterprise Software Foundation (RESF), a public benefit corporation.  The project has many sponsors and contributors, both large and small.  It can be thought of as the spiritual successor to the original CentOS project, and largely shares the same goal.</p>
</li>
<li><p><strong>CIQ</strong>
<br />
CIQ (&quot;Ctrl IQ, Inc.&quot;) is a small, for-profit (we hope!) company founded several years ago, pre-dating the formation of Rocky Linux.  The company has a varied portfolio, but deals primarily in software development, support, and consulting.  Particularly in the areas of high performance computing (HPC) and specialized enterprise Linux workloads.</p>
</li>
</ul>
<p><br />
It&#39;s important to keep these definitions in mind.  These 2 are NOT THE SAME, even if they are sometimes related. (as we&#39;ll see)</p>
<p><br />  </p>
<h2 id="early-days">Early Days</h2>
<p>CIQ and many of its customers in the HPC space were heavy users of CentOS and RHEL-based environments.  They like many orgs, were taken by surprise when Red Hat announced the former&#39;s cancellation at the end of 2020.  Something had to be done, but it wasn&#39;t clear exactly what.  There was discussion at the time of CIQ attempting some kind of continuation or fork of CentOS 8, perhaps with partner support.</p>
<p>On a whim, CIQ founder Greg Kurtzer invited the public at large to an HPC enthusiast chat area to talk about it.  The response from the community was overwhelming:  there was motivation, talent, and opportunity to form a robust successor to CentOS.  Rocky Linux was born out of this.</p>
<p><br /></p>
<h2 id="sponsorship">Sponsorship</h2>
<p>Even as a same-sources rebuild, building and maintaining a Linux distribution is a major undertaking.  A CentOS &quot;reboot&quot; is something many organizations find great value in.  Sponsors and supporters of the new Rocky Linux effort began to line up.</p>
<p>Naturally, CIQ was (and is) an enthusiastic sponsor of the project.  Sponsors and supporters contribute in many different ways.  Some offer web hosting, some provide bandwidth.  Others provide time from their employees:  engineers, testers, technical writers, web designers, etc.  Some contribute monetarily, but many supporters are simply active in the community:  Patrolling for bugs, helping users solve issues, and more.</p>
<p>As a smaller company, CIQ&#39;s main asset is its collection of engineering talent. (hi!)  This is the primary way the company can contribute to Rocky Linux:  some working time of some employees is set aside to help out on the project.  Building packages, ensuring robust infrastructure, writing documentation, and all those other helpful tasks that make a high quality Linux distribution.  But the load of creating and maintaining Rocky is shared.  Other companies contribute (some) employee time.  Most RESF/Rocky members are individual contributors whose employer does not pay them for their volunteer effort.  These contributors make up the bulk of the distro&#39;s teams:  testing, documentation, infrastructure, engineering, or Special Interest Groups (SIGs).</p>
<p><br /></p>
<h2 id="relationship">Relationship</h2>
<p>I hope I&#39;ve painted a clear picture so far.  Some CIQ employees are <em>members</em> of the Rocky Linux project, including CEO Greg Kurtzer.  (and yours truly too!)  And CIQ acts as supporter and enthusiastic cheerleader for the project - like CentOS, it works great as a platform to customize and build things for HPC and enterprise customer workloads.  But CIQ is not &quot;special&quot; in this regard: The Rocky distribution is supported by a wide variety of interested people and organizations, same as many open source projects.</p>
<p>Used as a home server or supercompute platform, a freely available and redistributable build of Enterprise Linux is great for all kinds of different people.</p>
<p><br /></p>
<h2 id="influence-and-project-direction">Influence and Project Direction</h2>
<p>One major community concern at the outset of Rocky&#39;s founding was control.  Original CentOS was unilaterally canceled and taken in a wildly different direction, due to the project being completely controlled and funded by a single entity.  The consensus opinion was that should not be possible in Rocky.</p>
<p>Rocky Linux was built with an independent mindset, and this is reflected in the way its parent org, RESF, is set up.  Board members, governing laws, and meeting minutes are all available to the public here:  <a href="https://www.resf.org/about">https://www.resf.org/about</a> .  </p>
<p><br /></p>
<h2 id="conclusion">Conclusion</h2>
<p>My primary goal in writing this is to clear up misconceptions and give accurate information about how these orgs work.  I reiterate this is 100% my (Skip&#39;s) perspective, as I understand things.  I think I&#39;ve accurately represented things,  at least as I see them.  As usual, I love to talk about this stuff - feel free to hit me up on Rocky Linux chat (chat.rockylinux.org), or the bridged Libera chat IRC:  I&#39;m &quot;skip77&quot; on #rockylinux, #centos, and #centos-stream channels.  </p>
<p><br /></p>

