<h1>Skip's Blog</h1>

This is a collection of articles and thoughts of mine that are published approximately "whenever I feel like it."  Most of it is going to be technical, and likely related to (Rocky) Linux, open source, and related topics.  This is what I know the most about, and therefore may have an actual informed opinion.  Topics may vary though, no promises!

<p><br />

<h3>Most Recent Post:</h3>
<strong><a href="#008_CIQ_and_Rocky_Linux" onclick="setTimeout(location.reload.bind(location), 2)">CIQ and Rocky Linux</a></strong>
<br /><br />
(You can also see the bottom of the sidebar for this)


<p><br />

<h3>Format and Perma-links</h3>
I gave in and now use some CSS and (shudder) Javascript for a more presentable site with single-page navigation.  I don't like complexity, but it was worth it in this case.
<br />
Unfortunately, it makes perma-links rely on anchors ('#') in the URL.  For example, if you want to link to a blog post, use its anchor like this:  <b>http://skip.linuxdn.org/blog.html#000_Rocky0_Intro</b>


<br /><br />

All blog posts originate in Markdown, and are converted to HTML.  Then I add them to the menu on the left.  As usual, source for everything is always available:

<ul>
  <li>Blog source: (MD, HTML, images): <a href="https://gitlab.com/SkipGrube/SkipBlog/">https://gitlab.com/SkipGrube/SkipBlog/</a></li>
  <li>Raw blog directory:  <a href="SkipBlog/">SkipBlog/</a></li>
</ul>

<p><br />
<h3>Licensing n' Stuff</h3>
Do what you want with the info you find here, but please acknowledge me if you're quoting my ideas!
<br />
I don't particularly care how anything gets used right now.  I may license my posts later when I have more content worth sharing. (Creative Commons?)

<p>

